.lessonGrid{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,50px;
    grid-template-rows: 1fr,1fr,1fr,50px;
}
.hickLaw{
    background-color: aliceblue;
    border: 5px,solid, black;
    grid-column: 1/2;
    grid-row: 1/2;
}