body {
    text-align: center;
}
header{
    background-color: #90d7ff;
    margin: 0px;
}
.heroImage{
    width: 50%;
    border: 10px double #320E3B;
    margin: 0px;
}
.maincontent{
    flex: 1 1 100%;
}
.weatherCard{
    border: 5px solid #320E3B;
    margin: 10px;
}
.eventsCard{
    border: 5px solid #320E3B;
    margin: 10px;
}
.spotlightCard{
    border: 5px solid #320E3B;
    margin: 10px;
}
footer{
    background-color: #90d7ff;
}