body {
    text-align: center;
    background-color: #fef9ef;
}
header{
    background-color: #17c3b2;
    color: white;
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 0px;
}
.heroImage{
    width: 50%;
    border: 10px double #9395d3;
    margin: 0px;
}
.mainContent{
    flex: 1 1 100%;
    display: flex;
}
.weatherCard{
    border: 5px solid #9395d3;
    margin: 10px;
    flex: 1;
}
.eventsCard{
    border: 5px solid #9395d3;
    margin: 10px;
    flex: 1;
}
.spotlightCard{
    border: 5px solid #9395d3;
    margin: 10px;
    flex: 1;
}
footer{
    background-color: #17c3b2;
    color: white;
}
#mode {
	position: absolute;
    background-color: #9395d3;
    color: #000807;
	top: .5rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}
.sideMenu{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
}
.sideMenuBox1{
    border: 5px solid #17c3b2;
    grid-row: 1/2;
    grid-column: 1/2;
}
.sideMenuBox2{
    border: 5px solid #17c3b2;
    grid-row: 2/3;
    grid-column: 1/2;
}
.discoverpictures{
    grid-column: 2/3;
}