body{
    text-align: center;
}

h1{
    margin: 0px;
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h1::first-letter,h2::first-letter,h3::first-letter{
    color:#2667FF;
}
.header-class{
    margin-top: 0px;
    background-color: #847979;
    color: whitesmoke;
}
.main-image{
    width: 10%;
    border: 5px solid #38369A;
    border-radius: 10px;
}
footer{
    background-color: #847979;
}
nav{
    margin-top: 0px;
    font-size: 25px;
    background-color:aliceblue;
    align-items: center;
    border: 5px solid #38369A;
    border-radius: 10px;
    padding-top: 10px;
}
.navButton{
    background-color:#38369A;
    color: aliceblue;
    padding: 10px;
    padding-bottom: 20px;
}
.cardGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding:30px;
}
.card{
    border: 5px solid #38369A;
}
#learningActivities{
    grid-column: 2/3;
}
#information{
    grid-column: 3/4;
}
.hero{
    position: relative;
}
.hero img{
    width: 80%;
}
.heroText{
    color: white;
    background-color: black;
    opacity: .7;
    position: absolute;
    top: 50px;
    left: 30%;
}