body{
    text-align: center;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
.header-class{
    background-color: #989898;
}
.main-image{
    width: 20%;
    display: border;
    border: 5px, solid, blue;
    border-radius: 10px;
}
footer{
    background-color: #989898;
}
.nav-grid{
    font-size: 1.5rem;
    background-color:aliceblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    align-items: center;
    border: 5px, solid, blue;
    border-radius: 10px;
}
.home-link{
    grid-column: 1/2;
    grid-row: 1/2;
}
.site-plan-link{
    grid-column: 1/2;
    grid-row: 2/3;
}