:root{
    background-color: aliceblue;
    padding: 5px;
    color:black;
}

.formTest {
    border: 5px solid #38369A;
    border-radius: 10px;
}

input{
    border: 2px solid black;
}


input:hover{
    border: 3px solid #38369A;
}
form:hover{
    background-color: white;
    transform: scale(1.08);
    transition: .5s;
}
#r {
    border: 3px solid black;
}
#submitButton:hover{
    transform: scale(1.1);
    transition: .3s;
}
