main {
    font-family: 'roboto';
}

.lessonGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 10px, solid, blue;
}
.hickLaw{
    background-color: aliceblue;
    border: 5px solid black;
    grid-column: 2/4;
    grid-row: 1/2;
}